body {
  margin: auto; 
}

head {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

h1 {
  color: navy;
}

.buttons {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.centerFlex{
  display: flex;
  justify-content:center;
}

.topHeading{
  padding: 10px;
  background: #5678ce;
  font-size: 30px;
  width: 200%;
}

.enterItem {
  background-color: #dadada;
  border: 1px solid #636363;
  border-radius: 3px;
  color: black;
  padding: 2px 10px;
  width: 70px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.3s;
  cursor: pointer;
}